*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

h1{

    font-size: 10vw;
    color: aqua;
}